.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10px;
}

.general-container {
  display: flex;
  margin: 0;
  width: 100%;
}

.content {
  flex-grow: 1;
  margin: 10px;
}

.sidebar {
  width: 60px;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 7px;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease;
  overflow: hidden;
  align-items: flex-start;
}

.sidebar.active {
  width: 250px;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  cursor: pointer;
  width: 100%;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.sidebar-list li {
  height: 60px;
  border-radius: 7px;
  padding: 0 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.sidebar-list li:hover {
  cursor: pointer;
  background-color: #b6b6b6;
}

.sidebar-list li #icon {
  flex: 1;
  display: grid;
  place-items: center;
}

.sidebar-list li #title {
  flex: 0;
  opacity: 0;
  max-height: 60px;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: top left;
  transform: scaleY(0);
  transition-delay: 0.1s;
}

.sidebar.active .sidebar-list li #title {
  flex: 3;
  opacity: 1;
  transform: scaleY(1);
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 10px;
}